.card{
    position: relative;
    box-shadow: 0 2px 8px rgba(255, 252, 252, 0.26);
    border-radius: 6px;
    overflow: hidden;
    background: rgb(148, 130, 130);
    width: 20rem;
    height: 30rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-image{
  justify-content: center;
  height: 20rem;
  margin-top: 2rem;
}

.card-item{
    text-align: center;
    justify-content: center;
}

.card-detail{
    background-color: aliceblue;
    justify-content: center;
    height: 10rem;

}