.div1{
    width:100%;
}

.div2{
    width:60%;
}
.cart_row{
    display: flex;
    column-gap: 20px;
    text-align: center;
}

.w-full{
    min-width: 100%;
}

.div{
    display: flex;
    margin-top: 1em;
    gap: 3rem;
    
}
.divdiv{
    width:50%;
    justify-content: space-around;
}

.divdivdiv{
    width: 50%;
}

.div1{
    
}

.div2{
    
    width:90%;
    margin-left: 2rem;
    margin-right: 2rem;
}
.price-details{
    border-bottom: 1px solid #ccc;;
}